<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<input type="hidden" name="id" value="{var_lis_cod}">
<div class="form-group">
    <p class="lead">
         <table class="table table-striped" aling=center>
        <tr>
            <th alling="center">Codigo:</th>
            <th alling="center">{var_lis_cod}</th>
        </tr>
        <tr>
            <th alling="center">Nombre y Apellido:</th>
            <th alling="center">{apellidoNombre}</th>
        </tr>
        
        <tr>
            <th alling="center">Fecha</th>
            <th alling="center">{fecha}</th>
        </tr>
         
        <tr>
            <th alling="center">Monto:</th>
            <th alling="center">{monto}</th>
        </tr>

        <tr>
            <th alling="center">Detalle:</th>
            <th alling="center">{detalle}</th>
        </tr>

    </table>
    </p>
</div>
<br><br>
<p><input class="btn btn-default" type="button" onclick="location.href='index.php?action=Persona::verPersonaCuenta&id={idPersona}'" value=" Volver ">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-warning" href="index.php?action=Cobros::altaModificarCobro&id={var_lis_cod}">Edit</a>
    <a class="btn btn-danger"  href="index.php?action=Cobros::eliminarCobro&id={var_lis_cod}&per={idPersona}">Eliminar</a>
</p>