<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div style="text-align: right">
    <input class="btn btn-primary" alling=rigth type="button" onclick=" location.href='index.php?action=Persona::altaPersona' " value="Nueva Persona" name="boton" /></div>
<div class="table-responsive">
    <h2>Listado de {var_list_rol}</h2>
    <table class="table" aling=center >
        <tr>
            <th width="42.5%" alling="center">Nombre y Apellido</th>
            <th width="42.5%" alling="center">Cuenta</th>
            <th width="5%" alling="center"></th>
            <th width="5%" alling="center"></th>
            <th width="5%" alling="center"></th>
        </tr>
        <!-- START BLOCK : block_listado_personas -->
        <tr>
            <td>{var_list_nam}</td>
            <td> 
                <a href="index.php?action=Persona::verPersonaCuenta&id={var_lis_cod}" class="{color_cuenta}">
                    {var_list_cuenta}
                </a>
            </td>
            <td> 
                <a href="index.php?action=Persona::verPersona&id={var_lis_cod}" class="btn btn-info">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
            <td> 
                <a href="index.php?action=Persona::altaModificarPersona&id={var_lis_cod}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
            <td> 
                <a href="index.php?action=Persona::eliminarPersona&id={var_lis_cod}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
        <!-- END BLOCK : block_listado_personas -->
        
        <!-- START BLOCK : block_no_listado_personas -->
        <tr><td colspan=5 aling="center"> No hay Personas cargadas</td></tr>
        <!-- END BLOCK : block_no_listado_personas -->
    </table>
</div>
