<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
<div style="text-align: right">
    <input class="btn btn-primary" alling=rigth type="button" onclick=" location.href='index.php?action=Factura::altaFactura&act={var_accion}' " value="{var_nueva}" name="boton">
</div>
<div class="table-responsive">
    <h2>Listado de Facturas</h2>
    <table class="table" colspan=6 aling=center width="100%">
        <tr>
            <th with="20%" alling="center">Codigo</th>
            <th with="20%" alling="center">Fecha</th>
            <th with="20%" alling="center">Titular</th>
            <th with="20%" alling="center">Estado</th>
            <th with="10%" alling="center">Total</th>
            <th with="10%" alling="center"></th>
        </tr>
        <!-- START BLOCK : block_listado_facturas -->
        <tr>
            <td>{var_list_cod}</td>
            <td> {var_list_fecha}</td>
            <td> {var_list_titular}</td>
            <td>{var_list_estado}</td>
            <td>{var_list_total}</td>
            <td>
                <a class="btn btn btn-info" href="index.php?action=Factura::verFactura&id={var_list_cod}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
            <td>
                <a class="btn btn btn-warning" href="index.php?action=Factura::altaModificarFactura&id={var_list_cod}">
                    <span class="glyphicon glyphicon-pencil"></span>                
                </a>
            </td>
            <td>
                <a class="btn btn btn-danger" href="index.php?action=Factura::eliminarFactura&id={var_list_cod}&type={var_list_esta}">
                    <span class="glyphicon glyphicon-trash"></span>                
                </a>
            </td>
        </tr>
        <!-- END BLOCK : block_listado_facturas -->
            
        <!-- START BLOCK : block_no_listado_facturas-->
        <tr><td colspan=7 aling="center"> No hay facturas cargadas</td></tr>
        <!-- END BLOCK : block_no_listado_facturas -->
    </table>	
</div>
    