<div style="text-align: right"><input alling=rigth type="button" onclick=" location.href='index.php?action=Factura::altaFactura' " value="Nuevo Factura" name="boton" /></div>
<fieldset><legend>Listado de Facturas</legend>
    <table aling=center border=1 cellpadding=3 cellspacing=0 width="100%">
        <tr>
            <th with="20%" alling="center">Codigo</th>
            <th with="20%" alling="center">Fecha</th>
            <th with="20%" alling="center">Titular</th>
            <th with="20%" alling="center">Estado</th>
            <th with="10%" alling="center">Total</th>
            <th with="10%" alling="center">Ver</th>
        </tr>
        <!-- START BLOCK : block_listado_facturas -->
        <tr>
            <td>{var_list_cod}</td>
            <td> {var_list_fecha}</td>
            <td> {var_list_titular}</td>
            <td>{var_list_estado}</td>
            <td>{var_list_total}</td>
            <td><a href="index.php?action=Factura::verFactura&id={var_list_cod}">Ver</a></td>
        </tr>
        <!-- END BLOCK : block_listado_facturas -->
            
        <!-- START BLOCK : block_no_listado_facturas-->
        <tr><td colspan=7 aling="center"> No hay facturas cargadas</td></tr>
        <!-- END BLOCK : block_no_listado_facturas -->
    </table>	
</fieldset>
    