<form id="frmModificarPersona" name="frmModificarPersona" method=post>
    <input type="hidden" name="action" value="Persona::modificarPersona">	
        
    <input type="hidden" id="id" value="{var_lis_cod}" name="id">
    <input type="hidden" id="fecha" value="{var_lis_fech}" name="fecha">
    Nombre y Apellido: 
    <input type="text" name="nombre"  value="{apellidoNombre}" id="nombre" maxlength="15" size="15">
    <br>
    Direccion:
    <input type="text"  value="{direccion}" name="direccion" id="direccion">
    <br>
    Mail:
    <input type="text"  value="{mail}" name="mail" id="mail">
    <br>
    Telefono:
    <input type="text"  value="{phone}" name="phone" id="phone">
    <br>
    Rol: <select name="rol">
        <option value="0" {defecto0}>Proveedor</option> 
        <option value="1" {defecto1}>Cliente</option> 
    </select>
    <br>
        
    <input type="button" onclick="location.href='index.php?action=Persona::verPersonas'" value=" Volver ">
    <input type="submit" value="Guardar">
</form>