<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="recursos/_html/styleFactura.css" media="all" />
    </head>
    <body>
        <div id="pepe" style="margin: 0px 0px 10px 50px; 
             position: relative;
             width: 21cm;
             height: 20.7cm;">
        <header class="clearfix">
            <div id="logo">
                <img src="recursos/_html/logo.png">
            </div>
            <h1>{var_factura_code}</h1>
            <div id="company" class="clearfix">
                <div>Constructora</div>
                <div>calle 1234,<br /> 3000 Santa Fe, AR</div>
                <div>(342) 519-0450</div>
                <div>Constructora@mail.com</div>
            </div>
            <div id="project">
                <div><span>FECHA</span> {var_factura_fecha}</div>
                <div><span>FECHA</span> {var_factura_fecha_entrega}</div>
                <div><span>CLIENTE</span> {var_persona_name}</div>
                <div><span>DIRECCION</span> {var_persona_address}</div>
                <div><span>EMAIL</span> {var_persona_mail}</div>
                <div><span>TIPO</span> {var_factura_tipo}</div>
                <div><span>ESTADO</span> {var_factura_estado}</div>
            </div>
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th class="service">PRODUCTO</th>
                        <th class="desc">DESCRIPCION</th>
                        <th>PRECIO</th>
                        <th>CANTIDAD</th>
                        <th>SUBTOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- START BLOCK : block_factura-->
                    <tr>
                        <td class="service">{var_pedido_name}</td>
                        <td class="desc">{var_pedido_name}</td>
                        <td class="unit">${var_pedido_price}</td>
                        <td class="qty">{var_pedido_cantidad}</td>
                        <td class="total">{var_pedido_total}</td>
                    </tr>
                    <!-- END BLOCK : block_factura-->
                    <tr>
                        <td colspan="4" class="grand total">TOTAL</td>
                        <td class="grand total">{var_factura_total}</td>
                    </tr>
                </tbody>
            </table>
            <!--<div id="notices">
              <div>NOTICE:</div>
              <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
            </div>-->
        </main>
        <footer>
            Invoice was created on a computer and is valid without the signature and seal.
        </footer>
        </div>
        <input class="btn btn-default" type="button" onclick="location.href='index.php?action=Factura::verTodasFactura&type={var_factura_tipo}'" value=" Volver ">
        <button class="btn btn-default" type="button" onClick="imprimir(pepe)">
            <span class="glyphicon glyphicon-print"></span>
        </button>
        </body>
</html>

<script>
    	function imprimir(elemento){
  var ventana = window.open('', 'PRINT', 'height=400,width=600');
  ventana.document.write('<html><head>');
  ventana.document.write('<link rel="stylesheet" href="recursos/_html/styleFactura.css" />'); //Aquí agregué la hoja de estilos
  ventana.document.write('</head><body >');
  ventana.document.write(elemento.innerHTML);
  ventana.document.write('</body></html>');
  ventana.document.close();
  ventana.focus();
  ventana.print();
  ventana.close();
  return true;
    }
</script>