<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<input type="hidden" name="idPersona" value="{var_lis_cod}">
<div class="form-group">
    <p class="lead">
         <table class="table" aling=center >
        <tr>
            <th alling="center">Nombre y Apellido:</th>
            <th alling="center">{apellidoNombre}</th>
        </tr>
        
        <tr>
            <th alling="center">Direccion:</th>
            <th alling="center">{direccion}</th>
        </tr>
         
        <tr>
            <th alling="center">Mail:</th>
            <th alling="center">{mail}</th>
        </tr>

        <tr>
            <th alling="center">Telefono:</th>
            <th alling="center">{phone}</th>
        </tr>

        <tr>
            <th alling="center">Rol:</th>
            <th alling="center">{rol}</th>
        </tr>
    </table>
    </p>
</div>
<br><br>
<p><input class="btn btn-default" type="button" onclick="location.href='index.php?action=Persona::verPersonas'" value=" Volver ">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-warning" href="index.php?action=Persona::altaModificarPersona&id={var_lis_cod}">Edit</a>
    <a class="btn btn-danger"  href="index.php?action=Persona::eliminarPersona&id={var_lis_cod}">Eliminar</a>
</p>

